<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<section>
    <section class="login-container--background"></section>
    <section class="container-background" style="background-image: url(images/cover-img.jpg); background-attachment:fixed;">
    </section>
    <section class="login-container">
        <section class="login-container--text">
            <section class="login-container--text__text-container">
                <a href="/">
                <section class="login-container--text__text-container--title">
                    <h1>RAKU</h1>
                    <h1>TECH</h1>
                </section>
                </a>
                <span>Browse from over 500 devices in your area</span>
            </section>
        </section>
        <section class="login-container__login">
            <section class="login-container__login--card">
                <section class='arrow-container' style="display:none">
                    <i class="fas fa-arrow-left backarrow"></i>
                </section>
                <h1>Sign In</h1>
                <button><i><img src="images/apple-64.png" alt=""/></i><span>Sign in with apple</span></button>
                <button><i><img src="images/fb-64.png" alt=""/></i><span>Sign in with facebook</span></button>

                <section class="separator">
                    <hr/>
                    <span>OR</span>
                </section>
                <section class="login__form">
                    <form action="">
                        <div class="input-group">
                            <label for="email">Email <span id="email-error" class='error'></span></label>
                            <input type="text" id="email"/>
                        </div>
                        <div class="input-group">
                            <label for="password">Password <span id="password-error" class='error'></span></label>
                            <input type="password" id='password'/>
                        </div>
                        <input type="submit" value="SIGN IN"/>
                    </form>
                    <span class='terms'>
                                    By continuing, you agree to accept our Privacy Policy & Terms of Service.
                                </span>
                    <span class='signup'>Don't have an account? <a href="/register">Create a new account</a></span>
                </section>
            </section>
        </section>
    </section>
</section>
</body>
</html>